:root {
    /* primary palette */
    --primary-1: #003b6d;
    --primary-2: #669acc;
    --primary-3: #ecedf2;
    --primary-4: #bdbdbd;
    --primary-5: #676767;

    /* secondary palette */
    --sec-1: #ffb69e;
    --sec-2: #fde7b1;
    --sec-3: #ffd5b3;
    --sec-4: #fff9c2;
    --sec-5: #ffa791;
}